# For Loop

Many Objects in Python are "iterable", meaning we can iterate over every elements in the object.
For Ex:- Every elements in lists and Every Character in String.

We can use for loop to execute a block of code for every iteration.

Term Iterable means You can Iterate over the objects.

For Example You can Iterate over Every Character in a String, Iterate over Every item in a list, iterate over 
Every Key in a Dictionary.

Syntax of a For Loop:-

iterable = ['string',2,4.5]
for item in iterable:
    print(item)
    
'string'
2
4.5

In [1]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in lst:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [3]:
17 % 5

2

In [4]:
10 %3

1

In [5]:
for num in lst:
    if num%2 == 0:
        print(num)

2
4
6
8
10

In [7]:
for num in lst:
    if num%2 == 0:
        print(num)
    else:
        print('odd number')

odd number
2
odd number
4
odd number
6
odd number
8
odd number
10

In [8]:
lst_sum = 0

for num in lst:
    lst_sum = lst_sum + num
    
print(lst_sum)

55

In [10]:
a = 'This is a string for iteration'

for characters in a:
    print(characters)

T
h
i
s

i
s

a

s
t
r
i
n
g

f
o
r

i
t
e
r
a
t
i
o
n

In [11]:
tup = (1,2,3,4,5)

for num in tup:
    print(num)

1
2
3
4
5

In [12]:
lst = [(1,2),(3,4),(5,6)]

In [13]:
for tup in lst:
    print(tup)

(1, 2)
(3, 4)
(5, 6)

In [14]:
d = {'k1':1,'k2':2,'k3':3}

In [16]:
for item in d:
    print(item)

k1
k2
k3

In [18]:
for k,v in  d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3