In [1]:
my_lst = [1,2,3]

In [2]:
for num in my_lst:
    print(num)

1
2
3

In [3]:
for num in range(0,11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [6]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [9]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter a
At index 1 the letter b
At index 2 the letter c
At index 3 the letter d
At index 4 the letter e

In [11]:
index_count = 0
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [12]:
index_count = 0
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [14]:
my_list1 = [1,2,3]
my_list2 = ['a','b','c']

In [15]:
for item in zip(my_list1, my_list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [16]:
for item1, item2 in zip(my_list1, my_list2):
    print(item1)
    print(item2)

1
a
2
b
3
c

In [17]:
my_lst = [4,5,6,7]

In [18]:
4 in my_lst

True

In [19]:
9 in my_lst

False

In [20]:
'x' in ['a','b','c']

False

In [21]:
'a' in ['a','b','c']

True

In [23]:
'h' in 'world'

False

In [24]:
d = {'mykey':500}

In [25]:
'mykey' in d

True

In [27]:
600 in d.values()

False

In [28]:
my_lst = [3,5,8,9,100]

In [29]:
min(my_lst)

3

In [30]:
max(my_lst)

100

In [31]:
from random import shuffle

In [32]:
my_lst = [1,2,3,4,5,6,7,8,9,10]

In [37]:
shuffle(my_lst)

In [38]:
my_lst

[2, 1, 7, 3, 6, 10, 9, 8, 4, 5]

In [39]:
from random import randint

In [42]:
randint(0,50)

38

In [45]:
num = int(input('Enter a number here:'))

Enter a number here:9

In [46]:
num

9