# Object and Data Structure Coding Exercise - Solution

### Test What you got till now

#### Numbers

Implement all Arithmetic operation you have learn so that there evaluation will be equal to 500.

In [1]:
# write Your code here!
(5 + 5) * 10 * 10/2

500.0

print the type of output following expression will produce:

1. 3.0 + 2.0
2. 3/2
3. 3.0 + 2

In [2]:
# Write your code here!
print(type(3.0+2.0))
print(type(3/2))
print(type(3.0+2))

<class 'float'>
<class 'float'>
<class 'float'>

Print the square and cube of the following numbers:

1. 5
2. 10
3. 100

In [3]:
# Write your code here!
print(5**2, 5**3)
print(10**2, 10**3)
print(100**2, 100**3)

25 125
100 1000
10000 1000000

### Strings

Suppose! you have given a string 'python'.

In [4]:
string = 'python'

what is the count of character 'o' ?

In [5]:
# Write your code here!
string.count('o')

1

Grab all the letter from index 1 to end. (slicing)

In [6]:
# Write your code here!
string[1:]

'ython'

which character is present at index 3.

In [7]:
# Write your code here!
string[3]

'h'

### List Data Structure

create a list of 5 integers of your choice.

In [8]:
# Write your code here!
lst = [5,6,7,8,9]

Grab the last element of that list

In [9]:
lst[-1]

9

From the given nested list, grab the word 'python':

In [10]:
lst = [5,3,1,[4,2,0,'python']]

In [11]:
# Write your code here!
lst[3][3]

'python'

For the given list grab all the elements from index 1 to 5 and print the element present at 0th index:

In [12]:
lst = [2,3,1,3,6,7,8]

In [13]:
# Write your code here!
print(lst[1:5], lst[0])

[3, 1, 3, 6] 2

### Dictionaries Data Structure

Grab value2 from the given dictionary

In [14]:
dictionary = {'key1': 'value1', 'key2':'value2'}

In [15]:
#write your Code Here!
dictionary['key2']

'value2'

Grab 'python' from given dictionary

In [17]:
dictionary = {'key1':{'key2':'python'}}

In [18]:
dictionary['key1']['key2']

'python'

### Theoretical Question

Basic Difference between List and Dictionary.

Basic Difference between list and tuple.

### Sets

what will be the Output if we convert the given list into set.

In [19]:
lst = [1,1,2,3,4,5,2,1,1,2,3,4,3,5]

In [20]:
# Write your code here!
set(lst)

{1, 2, 3, 4, 5}

### Booleans

Compare two integers using '>' symbol in such a way that output will be True.

In [21]:
#write your code here!
3>2

True

Compare two integers using '<' symbol in such a way that output will be False.

In [22]:
#Write your code here!
5<3

False

Compare two integers using '==' symbol in such a way that output will be True.

In [23]:
#Write your code Here!
4==4

True

What will be the boolean output of following code:

In [24]:
lst1  = [20,30,[40,50,60]]
lst2  = [60,50,{'key1':30}]

lst1[2][2] <= lst2[2]['key1']

False

# Congratulation for completing your Exercise successfully.